body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

header {
    font-size: 2rem;
    font-weight: 600;
    grid-area: header;
    padding: 1rem;
    padding-bottom: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#logo{
    text-decoration: none;
    color: #000;
}

.navbar{
    display: none;
}

.menulist {
    display: none;
}

.responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #242424;
    margin: 0;
    padding: 0;
    top: 40px;
    width: 100%;
    list-style: none;
}

.responsive a {
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}



main {
    grid-area: main;
    background-color: #ffffff;
}

main section img {
    width: 100%;
}

.salebanner {
    display: flex;
    flex-direction: column;
    background-color: #FFC37C;
    justify-content: center;
    margin-top: 1rem;
}

.salebanner h2 {
    display: flex;
    justify-content: center;
}

.subscribe {
    background-color: #d1d1d1;
    padding: 1rem ;
}

.subscribe h2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.black-btn{
    display: flex;
    padding: 1rem;
    text-decoration: none;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    max-width: 180px;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
}

.shoe720 {
    display: flex;
    flex-direction: column;
    background-color: #99D9EA;
    justify-content: center;

}

.shoe720 h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.text-btn {
    display: flex;
    color: #000;
    justify-content: center;
    padding-bottom: 1rem;
    
}

.black-btn2{
    display: flex;
    padding: 1rem;
    text-decoration: none;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 26px;
    max-width: 180px;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
}

/* Her har jeg funnet kode på w3schools https://www.w3schools.com/howto/howto_css_breadcrumbs.asp
fordi dette var helt nytt for meg og vi ikke har gjennomgått det i plenum */
ul.breadcrumb {
    list-style: none;
    padding: 1rem;
    padding-bottom: 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 20px;
}

ul.breadcrumb li+li:before {
    padding: 6px;
    color: #707070;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #707070;
}

.product720 h2 {
    font-size: 32px;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 1rem;

}

.product720 h3 {
    font-size: 20px;
    font-weight: 500;
    padding: 1rem;
    padding-top: 0;
    margin-top: 0;
}

.sizechoose h2 {
    display: flex;
    justify-content: center;
}

.sizechoose ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.sizechoose ul a {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    font-weight: 400;
    max-width: 180px;
    justify-content: center;
    margin: 0.5rem;
    list-style-type: none;
}

.sizechoose ul li {
    list-style-type: none;
}

.returheader {
    margin-left: 2rem;
}

.returheader h2 {
    font-size: 30px;
    margin-bottom: 0.5rem;
}

.returheader h3 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
}

.black-btn3 {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    background-color: #333333;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    font-size: 22px;
    max-width: 220px;
    justify-content: center;
    margin-bottom: 1rem;
    text-align: center;
}

.text-btn2 {
    display: flex;
    color: #000;
    margin-bottom: 2rem;
    font-size: 22px;
    
}

.returinfo {
    margin: 1rem;
    padding: 1rem;
    background-color: #b1b1b1;
}




footer {
    grid-area: footer;
    padding: 1rem;
    background-color: #333333;
}

.contactInfo h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-top: 0.5rem;
}

.white-btn {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #333333;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    max-width: 200px;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
}

@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" ". main main main ." "footer footer footer" ;
    }

    .navbar{
        display: flex;
        background-color: #b1b1b1;
        color: #000;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        list-style: none;
        text-decoration: none;
        padding: 2rem;
        margin-bottom: 0;
        
        
    }

    .navbar li a {
        color: #000;
        text-decoration: none;
    }

    
    .salebanner {
        margin-top: 0 !important;
    }

    .salebanner h2 {
        font-size: 36px;
    }

    .shoe720 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .shoe720 img {
        width: 50%;
    }

    .shoe720 section {
        padding: 1rem;
        width: 40%;
        align-self: center;
    }

    .shoe720 h2 {
        font-size: 40px;
    }

    .shoe720 a {
        font-size: 30px;
    }

    .subscribe h2 {
        font-size: 40px;
    }

    .product720 {
        width: 45%;
    }

    .product720 img {
        min-width: 50%;
        padding: 2rem;
    }

    .flex-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sizechoose {
        width: 45%;
        padding: 1rem;
        align-self: center;
    }

}
